	#WebNav{
		position: fixed;
		top: 0; 
		left: 0; 
		z-index: 999; 
		width: 100%;
		background-color:  black;
	}

	#WebNav ul li a{
		text-align: right;
		color: blue;
		text-decoration: none;
	}

	#WebNav ul li {
		display: inline-block;
		vertical-align: middle;
	}

	#WebNav ul{
		width: 900px;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		z-index: 10;
	}

	#WebNav ul li img{
		display: inline-block;
	}

	.img{
		max-width: 100px;
		max-height: 100px;
		width: auto;
		height: auto;

	}

	#ImageScroller{
		width: 782px;
		height: 320px;
		position: relative;
		margin-top: 10px;
		border: 10px;
		margin-right: auto;
		margin-left: auto;
	}

	#ImageScroller ul{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 900;
	}

	#ImageScroller ul li{
		display: inline-block;
		margin-right: 50px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
		opacity: 0.5;
		transition: opacity 0.3s ease-in;
	}

	#ImageScroller ul li:hover{
		opacity: 1;
	}

	#ImageScroller>img{
		position: absolute;
		z-index: 100;
	}

	#ImageScrollerBackground{
		background-color: black;	
	}

	#Wrapper{
		text-align: center;
		background-color: #333333;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	#FeatureVid{
		padding: 10px;
		background-color: black;
		border-color: blue;
		color: blue;
		margin-bottom: 10px;
	}

	#WrapperContent ul li{
		display: inline-block;
	}

	#CurrentProject{
		margin-right: 100px;
		margin-left: 100px;
		display: inline-block;
		background-color: black;
		color: blue;
	}

	#NewsFeed{
		margin-right: 100px;
		margin-left: 100px;
		display: inline-block;
		background-color: black;
		color: blue;
	}

	#FooterBack{
		background-color: gray;
	}

	#FooterBack ul li{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		margin-right: 100px;
		margin-left: 100px
	}

	#WrapperBackground{
		background-color: #333333;
	}

	body{
		margin: 0;
	}