	#WebNav{
		position: fixed;
		top: 0; 
		left: 0; 
		z-index: 999; 
		width: 100%;
		background-color:  black;
		border-bottom: 2px white solid;
	}

	#WebNav ul li a{
		text-align: right;
		color: blue;
		text-decoration: none;
	}

	#WebNav ul li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		margin-left: 50px;
	}

	#WebNav ul{
		width: 900px;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		z-index: 10;
		font-size: 30;
	}

	#WebNav ul li img{
		display: inline-block;
	}

	.img{
		max-width: 230px;
		width: auto;
		height: auto;

	}

	#ImageScroller{
		width: 782px;
		height: 320px;
		position: relative;
		margin-top: 10px;
		border: 10px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 25px;
		margin-top: 85px;
	}

	#ImageScroller ul{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 900;
	}

	#ImageScroller ul li{
		display: inline-block;
		margin-right: 50px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
		opacity: 0.7;
		transition: opacity 0.3s ease-in;
	}

	#ImageScroller ul li img{
		border-style: solid;
		border-color: white;
		border-width: 1px;
	}

	#ImageScroller ul li:hover{
		opacity: 1;
	}

	#ImageScroller>img{
		position: absolute;
		z-index: 100;
		width: 778;
		height: 327;
	}

	#ImageScroller>img.current{
		z-index: 900;
	}

	#ImageScroller>img.previous{
		z-index: 500;
	}

	#ImageScrollerBackground{
		background-image: url("BlackPatternBack.PNG");			
	}

	#Wrapper{
		text-align: center;
		/*background-color: #333333;*/
		width: 780;
		margin-left: auto;
		margin-right: auto;
	}

	#FeatureVid{
		padding: 10px;
		background-color: black;
		border-color: blue;
		color: blue;
		margin-bottom: 10px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
	}

	#WrapperContent ul li{
		display: inline-block;
	}

	#Content li{
		margin-bottom: 20px;
		margin-top: 50px;
		display: inline-block;
		background-color: black;
		color: blue;
		width: 350px;
		height: 250px;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
	}

	#Content{
		padding-left: 0px;
	}

	#NewsFeed li{
		margin-right: 100px;
		margin-left: 100px;
		display: inline-block;
		background-color: black;
		color: blue;
		width: 250px;
		height: 250px;
	}

	#FooterBack{
		background-color: gray;
	}

	#FooterBack ul{
		text-align: center;
		vertical-align: middle;
	}

	#FooterBack ul li{
		display: inline-block;
		margin-right: 100px;
		margin-left: 100px
	}

	#WrapperBackground{
		/*background-color: #333333;*/
		background-image: url("Test.PNG");
		box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
	}

	.cPClass{

	}

	body{
		margin: 0;
	}